*{
    font-size: 11px;
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.2;

    margin: 0;
    padding: 0;
}

#header{
    text-align: center;
}

.section{
    margin: 0.5rem 0.5rem;
}

h1{
    font-size: 2.5rem;
}

h2{
    font-size: 1.3rem;
}

main{
    width: 70%;
    margin: 0 auto;
    border: 0.5px solid black;
    padding: 0 2rem;
}

h3{
    margin-top: 0.8rem;
}

.first-child{
    margin-top: 0.2rem;
}

li{
    margin-left: 1rem;
}